*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-mode-width:50px;
    --dark-mode-height:24px;
}
body{
    background-color: #fff;
    transition: background-color 0.5s ease;
}
body.active{
    color: #fff;
    background-color: #4a4a4a;
}
body.active a{
    color: #fff;
}
body.active h2{
    color: #e1a3ff;
}
.dark-mode{
    width: var(--dark-mode-width);
    height: var(--dark-mode-height);
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: #ffa8dc;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
body.active .dark-mode{
    background-color: #fff;
}
.dark-mode .circle{
    width: 40%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(10%);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease,background-color 0.5s ease;
}
body.active .circle{
    transform: translateX(140%);
    background-color: #2A2A2C;
}
.dark-mode .circle ion-icon{
    width: 70%;
    height: 70%;
    position: absolute;
    transition: transform 0.5s ease;
}
.dark-mode .circle .moon{
    color: #fff;
    transform: translateY(-120%);
}
body.active .circle .moon{
    transform: translateX(0);
}
.dark-mode .circle .sun{
    color: #FCDE5B;
}
body.active .circle .sun{
    transform: translateY(120%);
}